.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 100px 50px;
}

.cart-container {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-height: 70vh;
  margin: 100px 30px 100px 0;
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding-left: 2rem;
}

.cart-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cart-btn {
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin: 12px 8px;
  padding: 0.7rem;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .shop-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products-container {
    order: 1;
  }

  .cart-container{
    width: 70%;
    margin-inline: auto;
  }

  .products-container {
    grid-template-columns: 1fr;
  }
}
